body {
    font-family: Montserrat,sans-serif;
  background-size: cover;
  background-attachment: fixed;
  
  
  }
div{
    display: flex;
  align-items: center;
  justify-content: center
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: #eee;
    margin: 10px auto;
    position: relative;
    text-align:center;
}
.logo {
    width: 1300px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center
  }
  .logo2 {
    width: 650px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center
  }
  .information {
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
    background: #eee;
    margin: 10px auto;
    position: relative;
    text-align:center;
    border: 3px solid rgb(34, 27, 49);
    border-radius: 10px;
    box-shadow: 0 0 20px 3px #9331e4;
  }